#index { 
    background: url(mountain.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.topnav {
    background-color: #0b3c5d;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 25px;
    text-decoration: none;
    font-size: 36px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: rgb(86, 103, 196);
}

    h1 {
    font-size: 96px;
    text-align: center;
    margin-top: 45px;
    color: rgb(241, 224, 151);
    font-family: 'Abril Fatface', cursive;
    letter-spacing: .1em;
    }
    
    .religion-title{
        font-size:125px;
        text-align: center;
        margin-top: 45px;
        color: #0b3c5d;
        font-family: 'Abril Fatface', cursive;
        letter-spacing: .1em;


    }


    h2 {
    font-size: 56px;
    text-align: center;
    color: #0b3c5d;
    
    
}
   

p {
    font-size: 36px;
    margin-left: 10%;
   
}
blockquote{
    margin-left: 10%;
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: space-between
}

.flex-item {
  background: rgba(217, 221, 223, 0.6);
  padding: 15px;
  width: 350px;
  height: 350px;
  margin-top: 100px;
  border-radius: 150px;
  margin-left: 125px;
  margin-right:125px;
  
  
  line-height: 150px;
  color: rgb(241, 224, 151);
  font-weight: bold;
  font-size: 3em;
  text-align: center;
  text-shadow: 2px 2px #0a0404;
    
}

#christianity {
    background-image: url(cross.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%
}
#judaism {
    background-image: url(StarDavid.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30%
}

#islam {
    background-image: url(StarAndCrescent.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30%
}

#buddhism {
    background-image: url(DharmaWheel.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40%
}

#hinduism {
    background-image: url(om.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 45%
}

#other {
    background-image: url(celtic.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 45%
}

.prayer-flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    -webkit-flex-flow: row wrap;
    justify-content: space-around
  }



.prayer-box {
    width: 90%;
    background-color: #E8E8E8;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    border-radius: 35px;  
}



.prayer-box-short-prayer {
    width: 90%;
    height: 40em;
    background-color: #E8E8E8;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    border-radius: 35px;  
   
}


img {

    float: right;
    margin-right: 3%;
}

#francis {
    margin-top: 3%;
    border: 5px solid #64647e;
    border-radius: 35px;  

}

#jesus {
    float:right;
    margin-right: 3%;
    margin-top: -3%;
    border: 20px solid #64647e;
    border-radius: 35px;  

}

#star {
    border: 20px solid #64647e;
    border-radius: 35px;  
}

#prophet {
border: 20px solid #64647e;
    border-radius: 35px; 
    margin-top:5%;
} 

#avalokiteshvara {
    border: 20px solid #64647e;
    border-radius: 35px; 
    margin-top:5%;

}